
body {
	color: #555555;
    font-family: "Lato", sans-serif;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.3px;
    line-height: 1.7em;
}

/* loading-animation */

.fl-loading-ani {
	background-color: var(--white);
}

/* the-end-of-loading-animation */


/* navbar */

.fl-header {
	display: contents;
}

.fl-navbar {
	padding: 0 !important;
	position: absolute;
}

.fl-navbar .fl-navbar-brand,
.fl-navbar .fl-navbar-toggler,
.fl-navbar .fl-navbar-nav,
.fl-navbar .fl-navbar-links,
.fl-navbar-search-parent {
	margin-top: 0 !important;
}

.fl-navbar .fl-navbar-toggler {
	margin-top: .7rem !important;
	margin-bottom: .7rem !important;
}

/*-animation-*/
.navbar-head-container {
	max-height: 200px;
	transition: all 1s;
	visibility: visible;
	overflow: hidden;
}

.fl-new-styled-navbar .navbar-head-container {
	max-height: 0;
	visibility: hidden;
	transition: all 0s;
	border-bottom: 0;
}

.fl-new-styled-navbar  {
	position: sticky;
}

.navbar-container {
	position: relative;
	background-color: var(--darkgrey);
	padding-top: 1rem !important;
	padding-bottom: 1rem !important;
	transition: background-color 1s;
}

.fl-new-styled-navbar .navbar-container {
	background-color: transparent;
}

.navbar-container::before {
	content: " ";
	background-color: var(--white);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	opacity: 0;
	transition: opacity 1s, box-shadow 1s; 
	box-shadow: 3px 3px 20px var(--grey);
}

.fl-new-styled-navbar .navbar-container::before {
	opacity: 1;
}

.navbar-container::after {
	content: " ";
	position: absolute;
	bottom: -9.5px;
	left: 0;
	width: 100%;
	height: 100%;
	background-image: url("../images/arrow-down.png");
	background-position: center bottom;
	background-repeat: repeat-x;
	background-size: 15px;
	opacity: 0;
	transition: opacity 1s;
	z-index: -1;
}

.fl-new-styled-navbar .navbar-container::after {
	opacity: 1;
}

.fl-new-styled-navbar .fl-nav-link {
	color: var(--grey);
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.fl-new-styled-navbar .white-iconic-link:not(.fl-active) {
	color: var(--grey);
}

@media (min-width: 992px) {

	.navbar-container {
		background-color: transparent;
		padding-top: 0 !important;
		padding-bottom: 0 !important;
	}

}

/* the-end-of-navbar */



/* navbar-brand */

.fl-navbar-brand {
	width: 150px !important;
}

@media only screen and (min-width: 992px) {

	.fl-navbar-brand {
		margin-left: initial;
		margin-right: initial;
	}

}

/* the-end-of-navbar-brand */



/* navbar-nav */

@media only screen and (min-width: 992px) {

	.fl-navbar-nav {
		align-content: center;
		align-items: center;
	}

	.fl-nav-item:not(:last-child) {
		margin-right: 0;
	}

	.fl-nav-link {
		color: var(--white);
		font-size: 12px;
		font-weight: bold;
		letter-spacing: 1px;
		padding: 2.7rem 1.5rem;
		position: relative;
	}

	.fl-nav-link:hover,
	.fl-nav-link:active,
	.fl-nav-link.fl-active {
		color: var(--darkorange);
	}

	.fl-nav-link.fl-active::after {
		content: " ";
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 2px;
		background-color: var(--darkorange);
	}

}	

/* the-end-of-navbar-nav */



/* navbar-search */

.fl-navbar-search-parent {
	width: 100%;
	margin: 0 !important;
}

/* the-end-of-navbar-search */



/* navbar-toggler */

@media only screen and (max-width: 991px) {

	.fl-navbar-toggler {
		border-radius: 0;
		background-color: transparent;
		width: 46px;
		height: 38px;
		border: 2px solid var(--white);
	}

	.fl-navbar-toggler-line::before,
	.fl-navbar-toggler-line,
	.fl-navbar-toggler-line::after {
		width: 22px;
	    height: 1.7px;
	    background-color: var(--white);
	}

	.fl-navbar-toggler-line::before,
	.fl-navbar-toggler-line::after {
	    top: -6px;
	}   

	.fl-navbar-toggler-line::after {
		top: 6px;
	}

	.fl-new-styled-navbar .fl-navbar-toggler {
		border-color: var(--grey);
	}

	.fl-new-styled-navbar .fl-navbar-toggler-line::before,
	.fl-new-styled-navbar .fl-navbar-toggler-line,
	.fl-new-styled-navbar .fl-navbar-toggler-line::after {
	    background-color: var(--grey);
	}

}

/* the-end-of-navbar-toggler */	



/* md-menu */

@media only screen and (max-width: 991px) {

	.fl-md-menu{
		display: block;
		position: relative;
		width: 100%;
		left: 0;
		margin: 0;
		padding: 0;
		transition: max-height .7s;
		overflow: hidden;
		top: 100%;
		max-height: 0;
		z-index: 14;
	}

	.fl-md-menu.fl-show { 
		max-height: 60vh;
	}

	.fl-md-menu-list {
		background-color: var(--darkgrey);
		padding: 10px 2rem;
		max-height: auto;
		overflow: auto;
		transition: background-color 1s;
	}

	.fl-md-menu-item {
		margin-top: 0 !important;
	}

	.fl-md-menu-link {
		background-color: transparent !important;
		color: var(--white);
		padding: .4rem;
		text-align: left;
		font-weight: bold;
		font-size: 12px;
		letter-spacing: 2px;	
		width: 100%;
	}

	.fl-new-styled-navbar .fl-md-menu-list {
		background-color: var(--white);
	}

	.fl-new-styled-navbar .fl-md-menu-link {
		color: var(--darkgrey);
	}

	@media (hover: hover) {
		.fl-md-menu-link:hover {
			color: var(--darkorange);
		}
	}	

	.fl-md-menu-link.fl-active,
	.fl-md-menu-link:active {
		color: var(--darkorange);
	}

}

/* the-end-of-md-menu */



/* header-top-container */


.header-top-container {
	background-color: var(--white);
	padding: 0 1rem;
}

.header-top-brand,
.header-top-title,
.header-top-link {
	position: relative;
	z-index: 2;
}

@media (min-width: 992px) {

	.header-top-container {
		padding: 0.4rem 1rem;
	}

}

/* the-end-of-header-top-container */



/* navbar-links */

.fl-navbar-links {
	margin-left: auto;
}

@media (min-width: 992px) {

	.fl-navbar-links {
		order: 3;
		margin-left: initial;
	}
}

/* the-end-of-navbar-links */



/* growing-dropdown */

@media (max-width: 991px) {

	.fl-growing-dropdown {
		top: 210px;
		right: 8px;
	}

}

/* the-end-of-growing-dropdown */



/* fl-chat */

.fl-chat-toggler,
.fl-chat-head {
	background-color: var(--orange);
}

.fl-chat-text::selection {
	background-color: var(--white);
	color: var(--orange);
}

.fl-chat-form {
	border-color: var(--darkorange);
}

.fl-chat-submit {
	background-color: var(--orange);
}

.fl-chat-submit:hover {
	background-color: var(--darkorange);
}	

.fl-chat-bottom i {
	color: var(--orange);
}


/* the-end-of-fl-chat */



/* back-to-top-btn */

.fl-back-to-top-btn {
	background-color: var(--darkorange) !important;
	right: 1.5rem;
	padding: 0;
	width: 40px;
	height: 40px;
	font-size: 20px !important;
}

.fl-back-to-top-btn.fl-show {
	bottom: 1.5rem;
}

@media (hover: hover) {

	.fl-back-to-top-btn:hover {
		background-color: var(--darkgrey) !important;
	}

}	

.fl-back-to-top-btn:active {
	background-color: var(--darkgrey) !important;
}

/* the-end-of-back-to-top-btn */















