

/* our-story */

.our-story > *:not(.our-story-bg) {
	position: relative;
	z-index: 3;
}

/* the-end-of-our-story */

/* special-package */

.special-package {
	position: relative;
}

.special-package > *:not(.special-package-bg) {
	position: relative;
	z-index: 5;
}

.special-package-slider {
	margin-top: 110px;
}

.special-package-slide-link {
	margin-top: 1rem;
}

/* the-end-of-special-package */



/* book-a-table */

.book-a-table-link {
	margin-top: 2rem;
}

.book-a-table > *:not(.book-a-table-bg) {
	position: relative;
	z-index: 5;
}

/* the-end-of-book-a-table */



/* our-chefs */

.our-chefs-slide-link:hover {
	color: var(--darkorange);
}

/* the-end-of-our-chefs */



/* todays-menu */

.todays-menu-list-text-container {
	margin-bottom: 7px;
}

@media (max-width: 767px) {

	.todays-menu-list-text-container {
		margin: 1.5rem 0;
	}

}

/* the-end-of-todays-menu */