@charset "UTF-8";

/* default-values-of-html-elements */

html {
	scroll-behavior: smooth;
	font-family: Verdana;
	line-height: 1.5;
	font-size: 16px;
	-webkit-text-size-adjust: 100%;
}

html * {
	-webkit-tap-highlight-color: transparent;
}

html *::selection {
	background-color: var(--orange);
	color: white;
}

body {
	margin: 0;
	scroll-behavior: smooth;
	-webkit-text-size-adjust: 100%;
}

body.fl-page-is-not-loaded * {
	transition: none !important;
}

a {
	display: inline-block;
	text-decoration: none;
	-webkit-text-decoration: none;
	outline: 0;
	white-space: nowrap;
}

button,
input[type=submit],
input[type=reset],
input[type=button] {
	border: 0;
	white-space: nowrap;
}

a:focus,
button:focus,
input[type=submit]:focus,
input[type=reset]:focus,
input[type=button]:focus {
	outline: 0;
}

ul {
	list-style-type: none;
	padding: 0;
	margin: 0;
}

p, h1, h2, h3, h4, h5, h6 {
	white-space: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* the-end-of-default-values-of-html-elements */


/* fl-flex */

.fl-flex-between-and-center,
.fl-flex-start-and-center,
.fl-flex-center,
.fl-flex-start  {
	display: flex !important;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
	align-content: center;
}

.fl-flex-start-and-center {
	justify-content: flex-start;
}	

.fl-flex-center {
	justify-content: center;
}

.fl-flex-start {
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start;
}

.fl-flex-col-1 > * {
	width: 100%;
	box-sizing: border-box;
}

.fl-flex-col-2 > * {
	width: 50%;
	box-sizing: border-box;
}

.fl-flex-col-3 > * {
	width: 33.3333333%;
	box-sizing: border-box;
}

.fl-flex-col-4 > * {
	width: 25%;
	box-sizing: border-box;
}

.fl-flex-col-5 > * {
	width: 20%;
	box-sizing: border-box;
}

.fl-flex-col-6 > * {
	width: 16.6666667%;
	box-sizing: border-box;
}

.fl-flex-col-7 > * {
	width: 14.2857143%;
	box-sizing: border-box;
}

.fl-flex-col-8 > * {
	width: 12.5%;
	box-sizing: border-box;
}

.fl-flex-col-9 > * {
	width: 11.1111111%;
	box-sizing: border-box;
}

.fl-flex-col-10 > * {
	width: 10%;
	box-sizing: border-box;
}

.fl-flex-divider { 
	width: 100%; 
}

@media (max-width: 575px) { .fl-xs-flex-divider { width: 100%; } }	

@media (max-width: 767px) { .fl-sm-flex-divider { width: 100%; } }

@media (max-width: 991px) { .fl-md-flex-divider { width: 100%; } }

@media (min-width: 992px) { .fl-lg-flex-divider { width: 100%; } }

/* the-end-of-fl-flex */


/* fl-hiding */ 

@media (max-width: 575px) { .fl-xs-hide { display: none !important; } }	

@media (max-width: 767px) { .fl-sm-hide { display: none !important; } }

@media (max-width: 991px) { .fl-md-hide { display: none !important; } }

@media (min-width: 992px) { .fl-lg-hide { display: none !important; } }

/* the-end-of-fl-hiding*/



/* fl-margins */

.fl-m-0 { margin: 0; }

.fl-m-1 { margin: 1rem; }

.fl-m-2 { margin: 2rem; }

.fl-m-3 { margin: 3rem; }

.fl-m-4 { margin: 4rem; }

.fl-m-5 { margin: 5rem; }

.fl-m-auto { margin: auto; }

.fl-mt-0 { margin-top: 0; }

.fl-mt-1 { margin-top: 1rem; }

.fl-mt-2 { margin-top: 2rem; }

.fl-mt-3 { margin-top: 3rem; }

.fl-mt-4 { margin-top: 4rem; }

.fl-mt-5 { margin-top: 5rem; }

.fl-mt-auto { margin-top: auto; }

.fl-mr-0 { margin-right: 0; }

.fl-mr-1 { margin-right: 1rem; }

.fl-mr-2 { margin-right: 2rem; }

.fl-mr-3 { margin-right: 3rem; }

.fl-mr-4 { margin-right: 4rem; }

.fl-mr-5 { margin-right: 5rem; }

.fl-mr-auto { margin-right: auto; }

.fl-mb-0 { margin-bottom: 0; }

.fl-mb-1 { margin-bottom: 1rem; }

.fl-mb-2 { margin-bottom: 2rem; }

.fl-mb-3 { margin-bottom: 3rem; }

.fl-mb-4 { margin-bottom: 4rem; }

.fl-mb-5 { margin-bottom: 5rem; }

.fl-mb-auto { margin-bottom: auto; }

.fl-ml-0 { margin-left: 0; }

.fl-ml-1 { margin-left: 1rem; }

.fl-ml-2 { margin-left: 2rem; }

.fl-ml-3 { margin-left: 3rem; }

.fl-ml-4 { margin-left: 4rem; }

.fl-ml-5 { margin-left: 5rem; }

.fl-ml-auto { margin-left: auto; }

.fl-my-0 {
	margin-top: 0;
	margin-bottom: 0;
}

.fl-my-1 {
	margin-top: 1rem;
	margin-bottom: 1rem;
}

.fl-my-2 {
	margin-top: 2rem;
	margin-bottom: 2rem;
}

.fl-my-3 {
	margin-top: 3rem;
	margin-bottom: 3rem;
}

.fl-my-4 {
	margin-top: 4rem;
	margin-bottom: 4rem;
}

.fl-my-5 {
	margin-top: 5rem;
	margin-bottom: 5rem;
}

.fl-my-auto {
	margin-top: auto;
	margin-bottom: auto;
}

.fl-mx-0 {
	margin-right: 0;
	margin-left: 0;
}

.fl-mx-1 {
	margin-right: 1rem;
	margin-left: 1rem;
}

.fl-mx-2 {
	margin-right: 2rem;
	margin-left: 2rem;
}

.fl-mx-3 {
	margin-right: 3rem;
	margin-left: 3rem;
}

.fl-mx-4 {
	margin-right: 4rem;
	margin-left: 4rem;
}

.fl-mx-5 {
	margin-right: 5rem;
	margin-left: 5rem;
}

.fl-mx-auto {
	margin-right: auto;
	margin-left: auto;
}	

/* the-end-of-fl-margins */



/* fl-paddings */

.fl-p-0 { padding: 0; }

.fl-p-1 { padding: 1rem; }

.fl-p-2 { padding: 2rem; }

.fl-p-3 { padding: 3rem; }

.fl-p-4 { padding: 4rem; }

.fl-p-5 { padding: 5rem; }

.fl-pt-0 { padding-top: 0; }

.fl-pt-1 { padding-top: 1rem; }

.fl-pt-2 { padding-top: 2rem; }

.fl-pt-3 { padding-top: 3rem; }

.fl-pt-4 { padding-top: 4rem; }

.fl-pt-5 { padding-top: 5rem; }

.fl-pr-0 { padding-right: 0; }

.fl-pr-1 { padding-right: 1rem; }

.fl-pr-2 { padding-right: 2rem; }

.fl-pr-3 { padding-right: 3rem; }

.fl-pr-4 { padding-right: 4rem; }

.fl-pr-5 { padding-right: 5rem; }

.fl-pb-0 { padding-bottom: 0; }

.fl-pb-1 { padding-bottom: 1rem; }

.fl-pb-2 { padding-bottom: 2rem; }

.fl-pb-3 { padding-bottom: 3rem; }

.fl-pb-4 { padding-bottom: 4rem; }

.fl-pb-5 { padding-bottom: 5rem; }

.fl-pl-0 { padding-left: 0; }

.fl-pl-1 { padding-left: 1rem; }

.fl-pl-2 { padding-left: 2rem; }

.fl-pl-3 { padding-left: 3rem; }

.fl-pl-4 { padding-left: 4rem; }

.fl-pl-5 { padding-left: 5rem; }

.fl-py-0 {
	padding-top: 0;
	padding-bottom: 0;
}

.fl-py-1 {
	padding-top: 1rem;
	padding-bottom: 1rem;
}

.fl-py-2 {
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.fl-py-3 {
	padding-top: 3rem;
	padding-bottom: 3rem;
}

.fl-py-4 {
	padding-top: 4rem;
	padding-bottom: 4rem;
}

.fl-py-5 {
	padding-top: 5rem;
	padding-bottom: 5rem;
}

.fl-px-0 {
	padding-right: 0;
	padding-left: 0;
}

.fl-px-1 {
	padding-right: 1rem;
	padding-left: 1rem;
}

.fl-px-2 {
	padding-right: 2rem;
	padding-left: 2rem;
}

.fl-px-3 {
	padding-right: 3rem;
	padding-left: 3rem;
}

.fl-px-4 {
	padding-right: 4rem;
	padding-left: 4rem;
}

.fl-px-5 {
	padding-right: 5rem;
	padding-left: 5rem;
}	

/* the-end-of-fl-paddings */



/* fl-positions */

.fl-relative { position: relative; }

.fl-fixed { position: fixed; }

.fl-absolute { position: absolute; }

.fl-sticky { position: sticky;  position: -webkit-sticky; top: 0; z-index: 18; }

.fl-static { position: static; }

/* the-end-of-fl-positions */



/* fl-slick */

/* ---dots--- */

.fl-slick-dots .slick-dots {
	width: 50%;
	margin-left: 25%;
	margin-top: 50px;
	display: -ms-flexbox;
	display: flex;
	flex-flow: row wrap;
	-ms-flex-wrap: wrap;
	-ms-flex-direction: row;
	justify-content: center;
	-ms-flex-pack: center;	
	align-content: center;
	-ms-flex-line-pack: center;
	align-items: center;
  	-ms-flex-align: center;
}

.fl-slick-dots .slick-dots button {
	margin-top: 1rem;
	cursor: pointer;
	padding: 0;
	border: 0;
	border-radius: 50%;
	color: transparent;
	background-color: grey;
	transition: background-color 0.3s ease;
	width: 2vw;
	height: 2vw;
	margin-right: 2.5vw;
}

.fl-slick-dots .slick-dots .slick-active button {
	background-color: #41a5e5;
}

.fl-slick-dots .slick-dots li:last-child button {
	margin-right: 0;
} 

@media only screen and (min-width: 992px) {

	.fl-slick-dots .slick-dots button {
		margin-right: 1.5vw;
		width: 1vw;
		height: 1vw;
	}

}

/* ---arrows--- */
.fl-slick-arrows {
	position: relative;
}

.fl-slick-arrows .slick-arrow {
	visibility: hidden;
	float: left;
	width: 0;
	margin: 0;
	height: 0;
	padding: 0;
}

.fl-slick-arrows .slick-arrow::before {
	width: 30px;
	height: 30px;
	cursor: pointer;
	color: white;
	border-radius: 50%;
	position: absolute;
	top: calc(50% - 15px);
	background-color: #bdc2c6;
	font-family: "FontAwesome";
	display: -ms-flexbox;
	display: flex;
	justify-content: center;
	-ms-flex-pack: center;	
	align-content: center;
	-ms-flex-line-pack: center;
	align-items: center;
  	-ms-flex-align: center;
  	z-index: 1;
  	visibility: visible;
  	transition: background-color 0.3s ease;
}

.fl-slick-arrows .slick-prev::before {
	content: "\f053";
	left: 1rem;
}

.fl-slick-arrows .slick-next::before {
	content: "\f054";
	right: 1rem;
}

/* ---overflows--- */
.fl-slick-overflow-visible .slick-list {
	overflow: visible;
	position: relative;
}

/* the-end-of-fl-slick */	




/* fl-back-to-top-button */

.fl-back-to-top-btn {
	position: fixed;
	z-index: 4;
	bottom: -100%;
	right: 2rem;
	background-color: rgba(38,38,38, 0.5);
	color: #fafafa;
	transition-property: visibility, opacity, background-color, bottom;
	transition-duration: 0.5s;
	transition-timing-function: ease;
	border: 0;
	outline: 0 !important;
	padding: 1rem;
	cursor: pointer;
	visibility: hidden;
	opacity: 0;
	border-radius: 0;
	overflow: hidden;
}

.fl-back-to-top-btn.fl-show {
	bottom: 2rem;
	visibility: visible;
	opacity: 1;
}	

.fl-back-to-top-btn i {
	display: flex;
	display: -ms-flexbox;
	flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-ms-flex-pack: center;
	-ms-flex-align: center;
	justify-content: center;
	align-content: center;
	height: 90%;
	width: 90%;
	top: 5%;
	left: 5%;
	position: absolute;
	transition: top 0.3s ease, opacity 0.3s ease, background-color 0.3s ease;
}

.fl-back-to-top-btn i:last-child {
	top: 100%;
	opacity: 0;
}

.fl-back-to-top-btn:hover i:first-child {
	top: -100%; 
	opacity: 0;
}

.fl-back-to-top-btn:hover i:last-child {
	top: 5%;
	opacity: 1;
}

@media (hover: hover) {

	.fl-back-to-top-btn:hover {
		background-color: rgba(38,38,38, 0.8);
	}

}

.fl-back-to-top-btn:active {
	background-color: rgba(38,38,38, 1.0);
}

@media only screen and (min-width: 992px) {

	.fl-back-to-top-btn {
		padding: 1.5rem;
	}	

	.fl-back-to-top-btn.fl-show {	
		bottom: 5rem;
	}
	
}

/* the-end-of-fl-back-to-top-button */



/* fl-overlays */

.fl-overlay {
	position: relative;
}

.fl-overlay::before {
	background-color: rgba(17, 17, 17, 0.5);
    content: " ";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
}

/* the-end-of-fl-overlays */



/* flash-font-size-changer */

.fl-font-size-changer-con {
	font-size: 0;
	margin: 0;
}

.fl-font-size-changer-btn {
	border: 0;
	outline: 0 !important;
	padding: 0.5rem 0.8rem;
	font-size: 12px;
	transition-property: background-color, color;
	transition-duration: 0.3s;
	transition-timing-function: ease;
	cursor: pointer;
	position: relative;
	color: white;
}

.fl-font-size-changer-icon {
	display: inline-block;
	vertical-align: top;
	font-size: 8px !important;
}

.fl-font-size-changer-plus {
	border-top-right-radius: 0.5rem;
	border-bottom-right-radius: 0.5rem;
	background-color: #cfa144;
}

.fl-font-size-changer-minus {
	border-top-left-radius: 0.5rem;
	border-bottom-left-radius: 0.5rem;
	background-color: #323542;
}

@media (hover: hover) {

	.fl-font-size-changer-minus:hover {
		background-color: #cfa144;
	}
	.fl-font-size-changer-plus:hover  {
		background-color: #323542;
	}

}

.fl-font-size-changer-minus:active {
	background-color: #cfa144;
}

.fl-font-size-changer-plus:active  {
	background-color: #323542;
}

.fl-font-size-changer-btn:disabled {
	background-color: grey !important;
	cursor: initial !important;
}

.ffsc-font-size-1 {
	font-size: 16px !important;
	transition: font-size 0.3s ease, line-height 0.3s ease;
}

.ffsc-font-size-2 {
	font-size: 21px !important;
	line-height: 26px !important;
	transition: font-size 0.3s ease, line-height 0.3s ease;
}

.ffsc-font-size-3 {
	font-size: 26px !important;
	line-height: 31px !important;
	transition: font-size 0.3s ease, line-height 0.3s ease;
}

.ffsc-font-size-4 {
	font-size: 31px !important;
	line-height: 36px !important;
	transition: font-size 0.3s ease, line-height 0.3s ease;
}

.ffsc-font-size-5 {
	font-size: 36px !important;
	line-height: 41px !important;
	transition: font-size 0.3s ease, line-height 0.3s ease;
}

@media (min-width: 992px) {

	.fl-font-size-changer-btn {
		font-size: 16px;
		padding: 1rem 1.5rem;
	}

	.fl-font-size-changer-plus {
		border-top-right-radius: 1rem;
		border-bottom-right-radius: 1rem;
	}

	.fl-font-size-changer-minus {
		border-top-left-radius: 1rem;
		border-bottom-left-radius: 1rem;
	}

}

/* the-end-of-flash-font-size-changer */



/* flash-list */

.fl-list {
	list-style-type: none;
	padding: 0;
	margin: 0;
	background-color: #11051c;
}

.fl-inline-list {
	font-size: 0;
	white-space: normal;
}

.fl-list-item {
	font-size: 16px;
}

.fl-list-item:not(:first-child) {
	margin-top: 1rem;
}	

.fl-inline-list .fl-list-item {
	display: inline-block;
	vertical-align: top;
	margin-top: 1rem;
	position: relative;
}

.fl-inline-list .fl-list-item:not(:last-child) {
	margin-right: calc(1rem + 1vw);
}

.fl-list-link,
.fl-list-dropdown-link {
	display: inline-block;
	outline: 0 !important;
	padding: calc(0.5rem + 0.5vw);
	color: white;
	background-color: #8230c6;
	font-weight: bold; 
	text-align: center;
	border-radius: 8px;
	width: 100%;
	transition: color .3s, background-color .3s;
	text-decoration: none;
	-webkit-text-decoration: none;
}

@media (hover: hover) {

	.fl-list-link:hover,
	.fl-list-dropdown-link:hover {
		background-color: #5c1695;
	}

}

.fl-list-link:active,
.fl-list-dropdown-link:active {
	background-color: #5c1695;
}

.fl-list-dropdown {
	list-style-type: none;
	padding: 0 1rem;
	margin: 0;
	opacity: 0;
	max-height: 0;
	overflow: hidden;
	transition: opacity 1s, max-height 1s;
	background-color: #11051c;
}

.fl-list-dropdown.fl-show {
	opacity: 1;
	max-height: 1000px;
}

.fl-list-dropdown-item {
	margin-top: 1rem;
}	

.fl-list-dropdown-toggler {
	position: relative;
}

.fl-list-dropdown-toggler::after {
	content: " ";
	position: relative;
	top: -3px;
	border: solid white;
	margin-left: 10px;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 3px;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transition: transform .3s, -webkit-transform .3s;
}

.fl-list-dropdown-toggler.fl-active::after {
	transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
	top: 0;
}

.fl-list[event="hover"] .fl-list-item:hover .fl-list-dropdown {
	opacity: 1;
	max-height: 1000px;
}

.fl-list[event="hover"] .fl-list-item:hover .fl-list-dropdown-toggler::after {
	transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
	top: 0;
}

.fl-inline-list .fl-list-dropdown {
	position: absolute;
	top: 110%;
	left: 0;
	padding: 0;
	border-radius: 8px;
	min-width: 200px;
}

.fl-inline-list .fl-list-dropdown-item {
	margin: 1rem 1rem 0;
}

.fl-inline-list .fl-list-dropdown-item:last-child {
	margin-bottom: 1rem;
}

/* the-end-of-flash-list */



/* flash-modal-container */

.fl-modal-con {
	position: fixed;
	z-index: 19;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(26,27,27,0.9);
	opacity: 0;
	visibility: hidden;
	transition-property: opacity, visibility;
	transition-duration: 1s;
	transition-timing-function: ease;
	display: -ms-flexbox;
	display: flex;
	flex-flow: row wrap;
	-ms-flex-wrap: wrap;
	-ms-flex-direction: row;
	justify-content: center;
	-ms-flex-pack: center;	
	align-content: flex-start;
	-ms-flex-line-pack: start;
	align-items: flex-start;
  	-ms-flex-align: start;	
  	overflow: auto;
}

.fl-modal-con::-webkit-scrollbar {
  width: 0;
}

.fl-modal-con.fl-show {
	opacity: 1;
	visibility: visible;
}

.fl-modal-con-closer {
	position: absolute;
	color: white;
	opacity: 1;
	top: 1rem;
	right: 1rem;
	font-size: 1.5rem !important;
	transition: opacity 0.3s ease;
	background: none;
	cursor: pointer;
}

@media (hover: hover) {

	.fl-modal-con-closer:hover {
		opacity: 0.5;
	}
		
}	

.fl-modal-con-closer:active {
	opacity: 0.5;
}

.fl-modal-child {
	visibility: hidden;
	position: relative;
	top: -100%;
	background-color: white;
	padding: calc(1rem + 1vw);
	margin: 0 auto 100px;
	transition: top 0.5s ease 1s;
	width: 90%;
}

.fl-modal-con.fl-show .fl-modal-child {
	top: 0 !important;
	visibility: visible;
}	

.fl-modal-con-closer-in-modal-child {
	position: absolute;
	top: 1rem;
	right: 1rem;
	background: none;
	cursor: pointer;
}

@media only screen and (max-width: 576px) {

	.fl-modal-child {
		margin-top: 120px;
	}

}

@media only screen and (min-width: 992px) {

	.fl-modal-con-closer {
		top: 2rem;
		right: 2rem;
		font-size: 2rem !important;
	}

	.fl-modal-child {
		width: 33%;
		margin-top: 100px;
	}

}	

/* the-end-of-flash-modal-container */



/* flash-dropdown */

.fl-dropdown-con {
	position: relative;
	display: inline-block;
}

.fl-dropdown-el {
	min-width: 300px;
	position: absolute;
	padding-top: 2rem;
	top: calc(100% + 6rem);
	opacity: 0;
	visibility: hidden;
	transition-property: opacity, visibility, top;
	transition-duration: 0.5s;
	transition-timing-function: ease;
}

.fl-dropdown-el.fl-show,
.fl-dropdown-el:hover {
	top: 100%;
	opacity: 1;
	visibility: visible;
}

.fl-dropdown-list {
	background-color: #cfa144;
	padding: 1rem;
	font-size: 0 !important;
}

.fl-dropdown-divider {
	width: calc(50% - 2rem);
	display: inline-block;
}

.fl-dropdown-divider:first-child {
	padding-right: 2rem;
}

.fl-dropdown-divider:last-child {
	padding-left: 2rem;
}

.fl-dropdown-item {
	font-size: 16px;
}

.fl-dropdown-item:not(:first-child) {
	margin-top: 1rem;
}

.fl-dropdown-link {
	text-align: center;
	color: white;
	display: inline-block;
	width: 100%;
	transition: opacity 0.3s ease;
}

@media (hover: hover) {

	.fl-dropdown-link:hover {
		opacity: 0.6;
	}	

}

.fl-dropdown-link:active {
	opacity: 0.6;
}	

.fl-dropdown-arrow-icon {
	transition-property: transform, -webkit-transform, -ms-transform;
	transition-duration: inherit;
	transition-timing-function: inherit;
	color: #e59f0b;
	font-size: 16px !important;
	margin-left: .5rem;
	color: white;
}

.fl-dropdown-con:hover .fl-dropdown-arrow-icon {
	-webkit-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}

/* the-end-of-flash-dropdown */



/* flash-animations */

@keyframes flashRotate {

	from {

		-webkit-transform: rotate(0deg);
		-ms-transform: rotate(0deg);
		transform: rotate(0deg);

	}

	to {

		-webkit-transform: rotate(360deg);
		-ms-transform: rotate(360deg);
		transform: rotate(360deg);

	}

}

.fl-rotate {
	animation-name: flashRotate;
  	animation-duration: 5s;
  	animation-timing-function: linear;
  	animation-direction: forwards;
  	animation-iteration-count: infinite;
}

/* the-end-of-flash-animations */



/* flash-form */

.fl-form {
	width: 100%;
	-webkit-tap-highlight-color: transparent;
}

.fl-form-container {
	margin-top: 2rem;
}

.fl-form-inline-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start;
}

.fl-form-container.fl-form-inline-container {
	margin-top: 1rem;
}

.fl-form-inline-container > * {
	margin: 1rem 2rem 0 0 !important;
}

.fl-form-label {
	display: block;
	font-size: 16px;
	color: grey;
	margin-bottom: 1rem;
	cursor: text;
}

.fl-form-input,
.fl-form-textarea {
	border: 1px solid grey;
	border-radius: 8px;
	padding: 1rem;
	color: black;
	font-size: 14px;
	transition: all .3s;
	width: 100%;
	box-sizing: border-box;
	resize: none;
}

.fl-form-input::-moz-placeholder,
.fl-form-textarea::-moz-placeholder {
	color: grey;
}

.fl-form-input::placeholder,
.fl-form-textarea::placeholder {
	color: grey;
}

.fl-form-input:focus,
.fl-form-textarea:focus {
	outline: 0;
	box-shadow: 1px 1px 5px grey, -1px -1px 5px grey;
}

.fl-form-btn,
.fl-form-file-input-label {
	display: block;
	width: 100%;
	padding: 1rem 2rem;
	border-radius: 8px;
	text-align: center;
	font-weight: bold;
	font-size: 16px;
	line-height: 16px;
	color: white;
	transition: color .3s, background-color .3s;
	cursor: pointer;
	outline: 0 !important;
	border: 0;
	box-sizing: border-box;
}

.fl-form-btn:disabled {
	background-color: grey !important;
	cursor: initial !important;
}

.fl-form-submit,
.fl-form-file-input-label {
	background-color: #4379e6;
}

.fl-form-submit:hover,
.fl-form-submit:active,
.fl-form-file-input-label:hover,
.fl-form-file-input-label:active {
	background-color: #2866e4;
}

.fl-form-reset {
	background-color: #e73647;
	margin-top: 1.5rem;
}

.fl-form-reset:hover,
.fl-form-reset:active {
	background-color: #e91b2f;
}

/*-checkbox-*/
.fl-form-checkbox {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 16px;
	color: grey;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.fl-form-checkbox-label {
	display: inline-block;
	height: 25px;
	line-height: 25px;
}

.fl-form-checkbox input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
	height: 0;
	width: 0;
}

.fl-form-checkbox-checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 25px;
	width: 25px;
	background-color: #eee;
}

.fl-form-checkbox:hover input ~ .fl-form-checkbox-checkmark {
	background-color: #ccc;
}

.fl-form-checkbox input:checked ~ .fl-form-checkbox-checkmark {
	background-color: #4379e6;
}

.fl-form-checkbox-checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

.fl-form-checkbox input:checked ~ .fl-form-checkbox-checkmark:after {
	display: block;
}

.fl-form-checkbox .fl-form-checkbox-checkmark:after {
	left: 9px;
	top: 5px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}

/*-radio-*/
.fl-form-radio {
	display: block;
	position: relative;
	padding-left: 35px;
	margin-bottom: 12px;
	cursor: pointer;
	font-size: 16px;
	color: grey;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}


.fl-form-radio-label {
	display: inline-block;
	height: 25px;
	line-height: 25px;
}

.fl-form-radio input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}

.fl-form-radio-checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 25px;
	width: 25px;
	background-color: #eee;
	border-radius: 50%;
}

.fl-form-radio:hover input ~ .fl-form-radio-checkmark {
	background-color: #ccc;
}

.fl-form-radio input:checked ~ .fl-form-radio-checkmark {
	background-color: #4379e6;
}

.fl-form-radio-checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

.fl-form-radio input:checked ~ .fl-form-radio-checkmark:after {
	display: block;
}

.fl-form-radio .fl-form-radio-checkmark:after {
	top: 9px;
	left: 9px;
	width: 8px;
	height: 8px;
	border-radius: 50%;
	background: white;
}

/*-file-*/
.fl-form-file-input {
	display: none;
}

.fl-form-file-input-label {
	display: inline-block;
	width: auto;
	font-family: 'Arial';
}

/*-img-*/
.fl-form-img-container {
	width: 150px;
	height: 150px;
	overflow: hidden;
	border-radius: 50%;
	margin: 2rem 0 1rem;
}

.fl-form-img {
	width: 100%;
	height: auto;
	min-height: 100%;
	display: block;
	transition: all .5s;
}

.fl-form-img-animation {
	position: relative;
}

.fl-form-img-animation::before {
	content: " ";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(26,27,27,0.5);
	transition: opacity .5s;
	opacity: 0;
	z-index: 10;
}

.fl-form-img-animation:hover::before {
	opacity: 1;
}

.fl-form-img-animation:hover {
	box-shadow: 2px 2px 10px grey, -2px -2px 10px grey;
}

.fl-form-img-animation:hover img {
	transform: scale(1.2);
	-webkit-transform: scale(1.2);
}

/*-icon-*/
.fl-form-icon {
	position: absolute;
	right: 1rem;
	height: 100%;
	font-size: 2rem !important;
	top: 0;
	display: flex !important;
	flex-flow: row wrap;
	align-content: center;
	align-items: center;
  	color: #848383;
  	cursor: pointer;
}

.fl-form-input-container {
	position: relative;
}

.fl-form-input-container input {
	padding-right: 4rem !important;
}


/* -gallery- */
.fl-form-gallery {
	width: 100%;
	margin-top: calc(1rem + .5vw);
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start;
	flex-flow: row wrap;
}

.fl-form-gallery-img-container {
	height: 60vw;
	width: 100%;
	overflow: hidden;
	margin-top: 1.6rem;
	transition: box-shadow .5s;
	position: relative;
	cursor: pointer;
}

.fl-form-gallery-img {
	height: auto;
	min-height: 100%;
	width: 100%;
	transition: all .5s;
}

/*-error-*/
.fl-form-error-message {
	color: #e73647;
	margin-top: 1rem;
	display: none;
}

.fl-form-error-message.fl-show {
	display: block;
}

.fl-form-required-error,
.fl-form-limit-error,
.fl-form-email-error {
	color: #e73647 !important; 
	border-color: #e73647 !important;
	box-shadow: 1px 1px 5px #e73647, -1px -1px 5px #e73647 !important; 
}

.fl-form-required-error ~ .fl-form-icon,
.fl-form-limit-error ~ .fl-form-icon,
.fl-form-email-error ~ .fl-form-icon {
	color: #e73647 !important;
}

.fl-form-required-error::-moz-placeholder,
.fl-form-limit-error::-moz-placeholder,
.fl-form-email-error::-moz-placeholder {
	color: #e73647;
}

.fl-form-required-error::placeholder,
.fl-form-limit-error::placeholder,
.fl-form-email-error::placeholder {
	color: #e73647;
}

@media (min-width: 576px) {

	.fl-form-gallery-img-container {
		width: calc(50% - .8rem);
		height: 30vw;
	}

	.fl-form-gallery-img-container:nth-child(odd) {
		margin-right: 1.6rem;
	}
		
}

@media (min-width: 992px) {

	.fl-form-gallery-img-container {
		height: 20vw;
	}

}

/* the-end-of-flash-form */



/* flash-full-screen-background-images */

.fl-full-screen-bg-images {
	position: absolute;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -999999;
	width: 100%;
	height: 100%;
}

.fl-full-screen-bg-images::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	width: 100%;
	height: 100%;
	background-color: rgb(5,5,5, 0.4);
}

.fl-full-screen-bg-text {
	position: absolute;
	z-index: 5;
	color: white;
	top: 110px;
	left: 1rem;
	font-size: 14px;
}

.fl-full-screen-bg-img {
	opacity: 0;
	transition: opacity 0.5s ease;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 1;
	width: auto;
	height: 100%;
	min-width: 100%;
}

.fl-full-screen-bg-img.fl-show {
	opacity: 1;
}

@media (min-width: 992px) {

	.fl-full-screen-bg-img {
		width: 100%;
		height: auto;
		min-height: 100vh;
	}

	.fl-full-screen-bg-text {
		left: initial;
		right: 1rem;
		top: 140px;
	}

}

/* the-end-of-flash-full-screen-background-images */




/* font-weight */

.fl-fw-lighter { font-weight: lighter; }

.fl-fw-normal { font-weight: normal; }

.fl-fw-bold { font-weight: bold; }

.fl-fw-bolder { font-weight: bolder; }

/* the-end-of-font-weight */



/* text-align */

.fl-text-center { text-align: center; }

.fl-text-right { text-align: right; }

.fl-text-left { text-align: left; }

/* the-end-of-text-align */



/* flash-scroll-indicator */

.fl-scroll-indicator {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	right: 0;
	width: 2px;
	height: 0;
	background-color: #cfa144;
	transition: height;
}

/* the-end-of-flash-scroll-indicator */



/* flash-overflow */

.fl-overflow-auto { overflow: auto; }

.fl-overflow-visible { overflow: visible; }

.fl-overflow-hidden { overflow: hidden; }

.fl-overflow-scroll { overflow: scroll; }

/* the-end-of-flash-overflow */



/* flash-live-chat */

/* ---open-button--- */
.fl-live-chat-open-btn {
	cursor: pointer;
	border: 0;
	left: 33vw;
	padding: 2vw;
	width: 30vw;
	outline: 0 !important;
	background-color: #cfa144;
	color: #fafafa;
	display: -ms-flexbox;
	display: flex;
	flex-flow: row nowrap;
	-ms-flex-wrap: nowrap;
	-ms-flex-direction: row;
	justify-content: space-between;
	-ms-flex-pack: justify;	
	align-content: center;
	-ms-flex-line-pack: center;
	align-items: center;
  	-ms-flex-align: center;	
	border-top-right-radius: 1vw;
	border-top-left-radius: 1vw;
	position: fixed;
	z-index: 4;
	bottom: 0;
	transition: visibility 0.5s ease 0.5s, opacity 0.5s ease 0.5s;
}

.fl-live-chat-open-btn.fl-hide {
	transition-delay: 0s;
	opacity: 0;
	visibility: hidden;
}

.fl-live-chat-open-btn span {
	transition: padding-left 0.3s ease;
}

.fl-live-chat-open-btn i {
	display: inline-block;
	padding: 0;
	transition: padding-right 0.3s ease;
}

@media (hover: hover) {

	.fl-live-chat-open-btn:hover {
		background-color: #ce921a;
	}

	.fl-live-chat-open-btn:hover span {
		padding-left: 1vw;
	}

	.fl-live-chat-open-btn:hover i {
		padding-right: 1vw;
	}

}

.fl-live-chat-open-btn:active {
	background-color: #ce921a;
}

.fl-live-chat-open-btn:active span {
	padding-left: 1vw;
}

.fl-live-chat-open-btn:active i {
	padding-right: 1vw;
}

/* -container- */
.fl-live-chat-con {
	position: relative;
	background-color: #cfa144;
	color: white;
	border-radius: 1rem;
	position: fixed;
	z-index: 5;
	border-bottom-right-radius: 1rem;
  	border-bottom-left-radius: 1rem;
	-webkit-transform: scale(0);
	transform: scale(0);
	transition: transform 0.5s ease 0.5s, -webkit-transform 0.5s ease 0.5s;
	width: 90vw;
	bottom: 1rem;
	left: 5vw;
	right: 5vw;
}	

.fl-live-chat-con.fl-show {
	-webkit-transform: scale(1);
	transform: scale(1);
}

/* -header- */
.fl-live-chat-header {
	cursor: move;
	padding: 1rem;
	background-color: white;
	color: #cfa144;
	display: -ms-flexbox;
	display: flex;
	flex-flow: row wrap;
	-ms-flex-wrap: wrap;
	-ms-flex-direction: row;
	justify-content: space-between;
	-ms-flex-pack: justify;	
	align-content: center;
	-ms-flex-line-pack: center;
	align-items: center;
  	-ms-flex-align: center;	
  	border-top-right-radius: 1rem;
  	border-top-left-radius: 1rem;
}

.fl-live-chat-brand {
	width: 10%;
	height: auto;
}

.fl-live-chat-close-btn {
	color: #cfa144;
	outline: 0 !important;
	cursor: pointer;
	transition: color .3s;
	position: absolute;
	background-color: white;
  	padding: 0.5rem 0.8rem;
  	border: 1px solid #cfa144;
  	border-radius: 5px;
  	right: 0;
	left: auto;
	top: -3rem;
}

@media (hover: hover) {

	.fl-live-chat-close-btn:hover {
		color: #ce921a;
	}

}

.fl-live-chat-close-btn:active {
	color: #ce921a;
}

/* -profile- */
.fl-live-chat-profile {
	padding: 1rem;
	background-color: #cfa144;
	color: white;
	display: -ms-flexbox;
	display: flex;
	flex-flow: row wrap;
	-ms-flex-wrap: wrap;
	-ms-flex-direction: row;
	justify-content: space-between;
	-ms-flex-pack: justify;	
	align-content: center;
	-ms-flex-line-pack: center;
	align-items: center;
  	-ms-flex-align: center;
	border-bottom: 1px solid #313440;
}

.fl-live-chat-profile-img-con {
	width: 50px;
	height: 50px;
	margin-right: 1rem;
	border-radius: 50%;
	overflow: hidden;
}

.fl-live-chat-profile-img {
	width: 100%;
	height: auto;
	min-height: 100%;
}

.fl-live-chat-profile-name {
	color: white;
	font-size: 13px;
	margin: 0;
}

.fl-live-chat-like-btn {
	margin-right: 1rem;
	margin-left: auto;
}

.fl-live-chat-like-btn,
.fl-live-chat-dislike-btn {
	background: none;
	color: #313440;
	border: 0;
	outline: 0 !important;
	cursor: pointer;
	transition: color .3s;
}

@media (hover: hover) {

	.fl-live-chat-like-btn:hover,
	.fl-live-chat-dislike-btn:hover {
		color: #23252f;
	}

}

.fl-live-chat-like-btn:active,
.fl-live-chat-dislike-btn:active {
	color: #23252f;
}

/* -messagge- */
.fl-live-chat-messages-con {
	padding: 1rem;
	background-color: white;
	max-height: 30vh;
	overflow: auto;
}

.fl-live-chat-messages-con::-webkit-scrollbar {
  width: 10px;
}

.fl-live-chat-messages-con::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
}

.fl-live-chat-messages-con::-webkit-scrollbar-thumb {
  background: #cfa144; 
}

.fl-live-chat-messages-con::-webkit-scrollbar-thumb:hover {
  background: #ce921a; 
}

.fl-live-chat-message {
	width: calc(100% - 2rem);
	padding: 0 1rem;
	margin: auto auto 0;
}

.fl-live-chat-user-message .fl-live-chat-message-text {
	margin-left: auto !important;
}

.fl-live-chat-user-message .fl-live-chat-message-header {
	display: -ms-flexbox;
	display: flex;
	flex-flow: row nowrap;
	-ms-flex-wrap: nowrap;
	-ms-flex-direction: row;
	justify-content: flex-end;
	-ms-flex-pack: end;	
	align-content: center;
	-ms-flex-line-pack: center;
	align-items: center;
  	-ms-flex-align: center;	
}

.fl-live-chat-message:not(:first-child) {
	margin-top: 2rem;
}

.fl-live-chat-message-name {
	color: #cfa144;
	margin: 0 1rem 0 0;
	font-size: 12px;
}

.fl-live-chat-message-date {
	margin: 0;
	color: #cfa144;
	font-size: 10px;
}

.fl-live-chat-message-text {
	background-color: #cfa144;
	color: white;
	padding: 0.5rem;
	border-radius: 0.5rem;
	display: block;
	max-width: 80%;
	font-size: 12px;
	margin-top: 1rem;
}

.fl-live-chat-user-message .fl-live-chat-message-text {
	border: 2px solid #cfa144;
	background-color: white;
	color: #cfa144;
}

/* -form- */
.fl-chat-form-toggler {
	background: none;
	color: white;
	border: 0;
	outline: 0 !important;
	cursor: pointer;
	transition: opacity .3s;
	display: block;
	padding: 0;
	margin: 1rem 1rem 1rem auto;
}

@media (hover: hover) {

	.fl-chat-form-toggler:hover {
		opacity: 0.6;
	}

}

.fl-chat-form-toggler:active {
	opacity: 0.6;
}

.fl-live-chat-form {
	border-top: 1px solid #cfa144;
	width: 70%;
	padding: 0;
	margin: 0 auto;
	background-color: white;
	max-height: 0;
	opacity: 0;
	transition: max-height 1s, opacity 1s, padding 1s;
}

.fl-live-chat-form.fl-show {
	max-height: 500px;
	opacity: 1;
	padding: 1rem 15%;
}

.fl-live-chat-form-input {
	border: 2px solid #cfa144;
	background-color: white;
	padding: 1rem;
	height: 8vh;
	width: calc(100% - 2rem - 4px);
	color: #cfa144;
	outline: 0 !important;
}

.fl-live-chat-form-input::-webkit-scrollbar {
  width: 10px;
}

.fl-live-chat-form-input::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
}

.fl-live-chat-form-input::-webkit-scrollbar-thumb {
  background: #cfa144; 
}

.fl-live-chat-form-input::-webkit-scrollbar-thumb:hover {
  background: #ce921a; 
}

.fl-live-chat-form-input::-webkit-input-placeholder {
  color: #cfa144;
}

.fl-live-chat-form-input::-moz-placeholder {
  color: #cfa144;
}

.fl-live-chat-form-input::-ms-input-placeholder {
  color: #cfa144;
}

.fl-live-chat-form-input::placeholder {
	color: #cfa144;
}

.fl-live-chat-form-submit,
.fl-live-chat-form-reset {
	width: 100%;
	padding: 1rem 0;
	text-align: center;
	border: 0;
	outline: 0 !important;
	cursor: pointer;
	color: white;
	margin-top: 1rem;
}

.fl-live-chat-form-submit {
	background-color: #5454f7;
}

@media (hover: hover) {
	.fl-live-chat-form-submit:hover {
		background-color: #2828fa;
	}
}

.fl-live-chat-form-submit:active {
	background-color: #2828fa;
}

.fl-live-chat-form-reset {
	background-color: #e73a56;
}

@media (hover: hover) {
	.fl-live-chat-form-reset:hover {
		background-color: #e90e32;
	}
}	

.fl-live-chat-form-reset:active {
	background-color: #e90e32;
}

.fl-live-chat-form-submit:disabled,
.fl-live-chat-form-reset:disabled  {
	 background-color: grey !important;
	 cursor: initial;
}

/* -day- */
.fl-live-chat-messages-day {
	display: -ms-flexbox;
	-ms-flex-wrap: nowrap;
	-ms-flex-direction: row;
	-ms-flex-pack: justify;
	-ms-flex-align: center;
	display: flex !important;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-content: center;
}

.fl-live-chat-messages-day-text {
	display: block;
	position: relative;
	color: #cfa144;
	font-size: 12px;
	text-align: center;
	width: 100%;
	margin: 1rem auto;
}

.fl-live-chat-messages-day-text::before {
	content:  " ";
	position: absolute;
	left: 0;
	height: 1px;
	top: calc(50% - 0.5px);
	width: 40%;
	background-color: #cfa144;
}

.fl-live-chat-messages-day-text::after {
	content:  " ";
	position: absolute;
	right: 0;
	height: 1px;
	top: calc(50% - 0.5px);
	width: 40%;
	background-color: #cfa144;
}

@media only screen and (min-width: 992px) {

	.fl-live-chat-open-btn {
		width: 18vw;
		padding: 1vw;
		left: auto;
		right: 2vw;
	}

	.fl-live-chat-con {	
		width: 20vw;
		bottom: 1rem;
		right: 2rem;
		left: auto;
	}	

	.fl-live-chat-brand {
		width: 20%;
	}

	.fl-live-chat-close-btn {
		left: -3rem;
		top: 0;
		right: auto;
	}

}

/* the-end-of-flash-live-chat */



/* flash-custom-select */

.fl-custom-select {
  position: relative;
  font-family: Verdana;
  width: 200px;
}

.fl-custom-select select {
  display: none;
}

.select-selected {
  background-color: DodgerBlue;
}

.select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 10px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #fff transparent transparent transparent;
}

.select-selected.select-arrow-active:after {
  border-color: transparent transparent #fff transparent;
  top: 7px;
}

.select-items div,.select-selected {
  color: #ffffff;
  padding: 8px 16px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}

.select-items {
  position: absolute;
  background-color: DodgerBlue;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}

.select-hide {
  display: none;
}

.select-items div:hover, .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}

/* the-end-of-flash-custom-select */



/* floats */

.fl-float-right { float: right; }

.fl-float-left { float: left; }

.fl-float-none { float: none; }

.fl-clear-right { clear: right; }

.fl-clear-left { clear: left; }

.fl-clear-both { clear: both; }

/* the-end-of-floats */



/* font-sizes */

.fl-font-size-sm-1 { font-size: 6px !important; }

.fl-font-size-sm-2 { font-size: 8px !important; }

.fl-font-size-sm-3 { font-size: 10px !important; }

.fl-font-size-sm-4 { font-size: 12px !important; }

.fl-font-size-sm-5 { font-size: 14px !important; }

.fl-font-size-md-1 { font-size: 16px !important; }

.fl-font-size-md-2 { font-size: 18px !important; }

.fl-font-size-md-3 { font-size: 20px !important; }

.fl-font-size-md-4 { font-size: 22px !important; }

.fl-font-size-md-5 { font-size: 24px !important; }

/* the-end-of-font-sizes */



/* font-styles */

.fl-font-style-normal { font-style: normal; }

.fl-font-style-italic { font-style: italic; }

.fl-font-style-oblique { font-style: oblique; }

/* the-end-of-font-styles */



/* width */

.fl-width-auto { width: auto !important; }

.fl-width-0 { width: 0 !important; }

.fl-width-25 { width: 25% !important; }

.fl-width-50 { width: 50% !important; }

.fl-width-75 { width: 75% !important; }

.fl-width-100 { width: 100% !important; }

/* the-end-of-width */



/* flash-play-images */

.fl-play-images {
	position: relative;
}

.fl-play-img {
	visibility: hidden;
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: auto;
	min-height: 100%;
	z-index: -1;
	transition-property: visibility, opacity;
	transition-duration: 1s;
}

.fl-play-img.fl-show {
	visibility: visible;
	opacity: 1;
}

/* the-end-of-flash-play-images */



/* flash-headings */

.fl-h1 {
	font-size: 49px !important;
	font-weight: bold;
	line-height: 59px !important;
}

.fl-h2 {
	font-size: 46px !important;
	font-weight: bold;
	line-height: 56px !important;
}

.fl-h3 {
	font-size: 43px !important;
	font-weight: bold;
	line-height: 53px !important;
}

.fl-h4 {
	font-size: 40px !important;
	font-weight: bold;
	line-height: 50px !important;
}

.fl-h5 {
	font-size: 37px !important;
	font-weight: bold;
	line-height: 47px !important;
}

.fl-h6 {
	font-size: 34px !important;
	font-weight: bold;
	line-height: 44px !important;
}

.fl-h7 {
	font-size: 31px !important;
	font-weight: bold;
	line-height: 41px !important;
}

.fl-h8 {
	font-size: 28px !important;
	font-weight: bold;
	line-height: 38px !important;
}

.fl-h9 {
	font-size: 25px !important;
	font-weight: bold;
	line-height: 35px !important;
}

.fl-h10 {
	font-size: 22px !important;
	font-weight: bold;
	line-height: 32px !important;
}

.fl-h11 {
	font-size: 19px !important;
	font-weight: bold;
	line-height: 29px !important;
}

.fl-h12 {
	font-size: 16px !important;
	font-weight: bold;
	line-height: 26px !important;
}

@media (min-width: 992px) {

	.fl-lg-h1 {
		font-size: 49px !important;
		font-weight: bold;
		line-height: 59px !important;
	}

	.fl-lg-h2 {
		font-size: 46px !important;
		font-weight: bold;
		line-height: 56px !important;
	}

	.fl-lg-h3 {
		font-size: 43px !important;
		font-weight: bold;
		line-height: 53px !important;
	}

	.fl-lg-h4 {
		font-size: 40px !important;
		font-weight: bold;
		line-height: 50px !important;
	}

	.fl-lg-h5 {
		font-size: 37px !important;
		font-weight: bold;
		line-height: 47px !important;
	}

	.fl-lg-h6 {
		font-size: 34px !important;
		font-weight: bold;
		line-height: 44px !important;
	}

	.fl-lg-h7 {
		font-size: 31px !important;
		font-weight: bold;
		line-height: 41px !important;
	}

	.fl-lg-h8 {
		font-size: 28px !important;
		font-weight: bold;
		line-height: 38px !important;
	}

	.fl-lg-h9 {
		font-size: 25px !important;
		font-weight: bold;
		line-height: 35px !important;
	}

	.fl-lg-h10 {
		font-size: 22px !important;
		font-weight: bold;
		line-height: 32px !important;
	}

	.fl-lg-h11 {
		font-size: 19px !important;
		font-weight: bold;
		line-height: 29px !important;
	}

	.fl-lg-h12 {
		font-size: 16px !important;
		font-weight: bold;
		line-height: 26px !important;
	}

}

@media (max-width: 991px) {

	.fl-md-h1 {
		font-size: 49px !important;
		font-weight: bold;
		line-height: 59px !important;
	}

	.fl-md-h2 {
		font-size: 46px !important;
		font-weight: bold;
		line-height: 56px !important;
	}

	.fl-md-h3 {
		font-size: 43px !important;
		font-weight: bold;
		line-height: 53px !important;
	}

	.fl-md-h4 {
		font-size: 40px !important;
		font-weight: bold;
		line-height: 50px !important;
	}

	.fl-md-h5 {
		font-size: 37px !important;
		font-weight: bold;
		line-height: 47px !important;
	}

	.fl-md-h6 {
		font-size: 34px !important;
		font-weight: bold;
		line-height: 44px !important;
	}

	.fl-md-h7 {
		font-size: 31px !important;
		font-weight: bold;
		line-height: 41px !important;
	}

	.fl-md-h8 {
		font-size: 28px !important;
		font-weight: bold;
		line-height: 38px !important;
	}

	.fl-md-h9 {
		font-size: 25px !important;
		font-weight: bold;
		line-height: 35px !important;
	}

	.fl-md-h10 {
		font-size: 22px !important;
		font-weight: bold;
		line-height: 32px !important;
	}

	.fl-md-h11 {
		font-size: 19px !important;
		font-weight: bold;
		line-height: 29px !important;
	}

	.fl-md-h12 {
		font-size: 16px !important;
		font-weight: bold;
		line-height: 26px !important;
	}

}

@media (max-width: 767px) {

	.fl-sm-h1 {
		font-size: 49px !important;
		font-weight: bold;
		line-height: 59px !important;
	}

	.fl-sm-h2 {
		font-size: 46px !important;
		font-weight: bold;
		line-height: 56px !important;
	}

	.fl-sm-h3 {
		font-size: 43px !important;
		font-weight: bold;
		line-height: 53px !important;
	}

	.fl-sm-h4 {
		font-size: 40px !important;
		font-weight: bold;
		line-height: 50px !important;
	}

	.fl-sm-h5 {
		font-size: 37px !important;
		font-weight: bold;
		line-height: 47px !important;
	}

	.fl-sm-h6 {
		font-size: 34px !important;
		font-weight: bold;
		line-height: 44px !important;
	}

	.fl-sm-h7 {
		font-size: 31px !important;
		font-weight: bold;
		line-height: 41px !important;
	}

	.fl-sm-h8 {
		font-size: 28px !important;
		font-weight: bold;
		line-height: 38px !important;
	}

	.fl-sm-h9 {
		font-size: 25px !important;
		font-weight: bold;
		line-height: 35px !important;
	}

	.fl-sm-h10 {
		font-size: 22px !important;
		font-weight: bold;
		line-height: 32px !important;
	}

	.fl-sm-h11 {
		font-size: 19px !important;
		font-weight: bold;
		line-height: 29px !important;
	}

	.fl-sm-h12 {
		font-size: 16px !important;
		font-weight: bold;
		line-height: 26px !important;
	}

}

@media (max-width: 575px) {

	.fl-xs-h1 {
		font-size: 49px !important;
		font-weight: bold;
		line-height: 59px !important;
	}

	.fl-xs-h2 {
		font-size: 46px !important;
		font-weight: bold;
		line-height: 56px !important;
	}

	.fl-xs-h3 {
		font-size: 43px !important;
		font-weight: bold;
		line-height: 53px !important;
	}

	.fl-xs-h4 {
		font-size: 40px !important;
		font-weight: bold;
		line-height: 50px !important;
	}

	.fl-xs-h5 {
		font-size: 37px !important;
		font-weight: bold;
		line-height: 47px !important;
	}

	.fl-xs-h6 {
		font-size: 34px !important;
		font-weight: bold;
		line-height: 44px !important;
	}

	.fl-xs-h7 {
		font-size: 31px !important;
		font-weight: bold;
		line-height: 41px !important;
	}

	.fl-xs-h8 {
		font-size: 28px !important;
		font-weight: bold;
		line-height: 38px !important;
	}

	.fl-xs-h9 {
		font-size: 25px !important;
		font-weight: bold;
		line-height: 35px !important;
	}

	.fl-xs-h10 {
		font-size: 22px !important;
		font-weight: bold;
		line-height: 32px !important;
	}

	.fl-xs-h11 {
		font-size: 19px !important;
		font-weight: bold;
		line-height: 29px !important;
	}

	.fl-xs-h12 {
		font-size: 16px !important;
		font-weight: bold;
		line-height: 26px !important;
	}

}

/* the-end-of-flash-headings */



/* fl-layers */

.fl-layer-on-bottom { z-index: -2147483647; }

.fl-layer-0 { z-index: 0; }

.fl-layer-1 { z-index: 1; }

.fl-layer-2 { z-index: 2; }

.fl-layer-3 { z-index: 3; }

.fl-layer-4 { z-index: 4; }

.fl-layer-5 { z-index: 5; }

.fl-layer-6 { z-index: 6; }

.fl-layer-7 { z-index: 7; }

.fl-layer-8 { z-index: 8; }

.fl-layer-9 { z-index: 9; }

.fl-layer-10 { z-index: 10; }

.fl-layer-11 { z-index: 11; }

.fl-layer-12 { z-index: 12; }

.fl-layer-13 { z-index: 13; }

.fl-layer-14 { z-index: 14; }

.fl-layer-15 { z-index: 15; }

.fl-layer-on-top { z-index: 2147483647; }

/* the-end-of-fl-layers */



/* button-animations */

.fl-btn-underline::before {
	content: '';
    position: absolute;
    bottom: -4px;
    left: 50%;
    width: 0;
    height: 2px;
    background-color: white;
    opacity: 0;
    visibility: hidden;
    transition: all .4s ease-in-out;
} 

.fl-btn-underline:hover::before,
.fl-btn-underline.fl-active::before {
	width: 100%;
	left: 0;
	opacity: 1;
	visibility: visible;
} 

/* the-end-of-button-animations */	



/* empty-modal */

.fl-empty-modal-container {
	position: fixed;
	z-index: 17;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(26,27,27,0.6);
	opacity: 0;
	visibility: hidden;
	transition-property: opacity, visibility;
	transition-duration: 1s;
}

.fl-empty-modal-container.fl-show {
	opacity: 1;
	visibility: visible;
}

/* the-end-of-empty-modal */



/* displays */

.fl-display-none { display: none; }

.fl-display-block { display: block; }

.fl-display-inline-block { display: inline-block; }

.fl-display-grid { display: grid; }

.fl-display-inline-grid { display: inline-grid; }

.fl-display-flex { display: flex; }

.fl-display-inline-flex { display: inline-flex; }

/* the-end-of-displays */



/* arrows */

.fl-arrow {
	border: solid black;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 3px;
}

.fl-arrow-right {
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}

.fl-arrow-left {
	transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
}

.fl-arrow-up {
	transform: rotate(-135deg);
	-webkit-transform: rotate(-135deg);
}

.fl-arrow-down {
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}

/* the-end-of-arrows */



/* flash-alert-boxes */

.fl-alert-box {
	background-color: var(--verydarkpurpleWithOpacity);
	position: fixed;
	top: calc(50vh - 115px);
	left: 5vw;
	width: 90vw;
	border-radius: 1rem;
	padding: 0;
	text-align: center;
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-content: center;
	align-items: center;
	max-height: 0;
	overflow: hidden;
	border: 0;
	outline: 0;
	opacity: 0;
	transition: opacity 1s, max-height 0s ease 1s, padding 0s ease 1s, min-height 0s ease 1s;
	z-index: 19;
}

.fl-alert-box:focus {
	opacity: 1;
	max-height: 1000px;
	transition: opacity 1s, max-height 0s ease 0s, padding 0s ease 0s, min-height 0s ease 0s;
	padding: 2rem;
	min-height: 230px;
}

@media (min-width: 576px) {

	.fl-alert-box {
		top: calc(50% - 125px);
		left: calc(50% - 175px);
		width: 350px;
		height: 250px;
	}

}

.fl-alert-box-text {
	color: var(--white);
	letter-spacing: 2px;
	position: relative;
	line-height: 30px;
	width: 100%;
}

.fl-alert-box-success .fl-alert-box-text::after {
	content: " ";
	position: relative;
	top: -3px;
	border: solid var(--green);
	margin-left: 5px;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 3px;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	transition: transform .3s, -webkit-transform .3s;
}

.fl-alert-box-btn {
	margin-top: 2rem;
	padding: 8px 1.5rem;
	border-radius: 7px;
	color: var(--white);
	cursor: pointer;
	transition: background-color .3s;
	font-weight: bold;
	letter-spacing: 2px;
}	

.fl-alert-box-success .fl-alert-box-btn {
	background-color: var(--green);
	color: var(--white);
}

.fl-alert-box-success .fl-alert-box-btn:hover {
	background-color: var(--darkgreen);
}

.fl-alert-box-warning .fl-alert-box-btn {
	background-color: var(--red);
	color: var(--white);
}

.fl-alert-box-warning .fl-alert-box-btn:hover {
	background-color: var(--darkred);
}

/* the-end-of-flash-alert-boxes */



/* flash-animated-images */

.fl-animated-img-container {
	position: relative;
}

.fl-animated-img-container::before {
	content: " ";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(26,27,27,0.5);
	transition: opacity .5s;
	opacity: 0;
	z-index: 10;
}

.fl-animated-img-container:hover::before {
	opacity: 1;
}

.fl-animated-img-container:hover {
	box-shadow: 2px 2px 10px grey, -2px -2px 10px grey;
}

.fl-animated-img-container img {
	height: auto;
	min-height: 100%;
	width: 100%;
	transition: all .5s;
}

.fl-animated-img-container:hover img {
	transform: scale(1.2);
	-webkit-transform: scale(1.2);
}

/* the-end-of-flash-animated-images */



/* fl-chat */

.fl-chat-toggler {
	position: fixed;
	bottom: 1.5rem;
	right: 1.5rem;
	z-index: 18;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	background-color: #03a8a0;
	color: white;
	cursor: pointer;
	font-size: 28px;
	display: flex;
	justify-content: center;
	align-items: center;
	align-content: center;
}

.fl-chat-toggler .fl-chat-toggler-close-icon {
	display: none;
}

.fl-chat-toggler.fl-active .fl-chat-toggler-icon {
	display: none;
}

.fl-chat-toggler.fl-active .fl-chat-toggler-close-icon {
	display: inline-block;
}

.fl-chat {
	position: fixed;
	left: 5%;
	right: 5%;
	bottom: 120px;
	display: none;
	border: 1px solid #f7f7f9;
	background-color: #f7f7f9;
	border-radius: 8px;
	overflow: hidden;
	z-index: 19;
}

.fl-chat.fl-show {
	display: block;
}

.fl-chat-head {
	padding: 2rem 1.5rem 3.5rem;
	text-align: center;
	color: white;
	background-color: #03a8a0;	
}

.fl-chat-text {
	margin: 0;
}

.fl-chat-text::selection {
	background-color: #03a84e;
}


/*-form-*/
.fl-chat-form {
	display: block;
	width: 90%;
	margin: 0 auto;
	position: relative;
	top: -2rem;
	border-top: 4px solid #03a8a0;
	border-left: 4px solid #03a8a0;
	border-radius: 8px;
	box-shadow: 1px 1px 5px lightgrey;
	background-color: white;
	padding: 5%;
}

.fl-chat-input-con {
	position: relative;
}

.fl-chat-label {
	position: absolute;
	font-size: 14px;
	top: .9rem;
	left: 1.2rem;
	background-color: white;
	padding: 0 9px;
	transition: top .5s;
	cursor: text;
}

.fl-chat-label.fl-on-top {
	top: -8px;
	font-size: 12px;
	cursor: default;
}

.fl-chat-input-con:not(:first-child) {
	margin-top: 1.2rem;
}

.fl-chat-input {
	padding: 1rem 1.2rem;
	border: 1px solid #e1e1e5;
	color: grey;
	outline: 0 !important;
	border-radius: 8px;
	width: 100%;
	font-size: 12px;
	resize: none;
}

.fl-chat-error-message {
	color: #e50c2a;
	margin: 5px 0 0;
	font-size: 13px;
	display: none;
}

.fl-chat-input-con.fl-error .fl-chat-input,
.fl-chat-input-con.fl-error .fl-chat-label,
.fl-chat-input-con.fl-invalid-email-address .fl-chat-input,
.fl-chat-input-con.fl-invalid-email-address .fl-chat-label {
	color: #e50c2a;
	border-color: #e50c2a;
}

.fl-chat-input-con.fl-error .fl-chat-required-message {
	display: block;
}

.fl-chat-input-con.fl-invalid-email-address .fl-chat-required-message {
	display: none !important;
}

.fl-chat-input-con.fl-invalid-email-address .fl-chat-invalid-email-address-message{
	display: block;
}

.fl-chat-submit {
	background-color: #03a8a0;
	color: white;
	padding: .8rem 1rem;
	border-radius: 5px;
	text-align: center;
	width: 100%;
	margin-top: .8rem;
	font-size: 16px;
	outline: 0 !important;
	border: 0;
	cursor: pointer;
	transition: background-color .3s;
}

.fl-chat-submit i {
	margin-right: 5px;
}

.fl-chat-submit:hover {
	background-color: #33b7b2;
}

.fl-chat-submit:disabled {
	background-color: grey;
	cursor: default;
}

/*-bottom-*/
.fl-chat-bottom {
	background-color: white;
	width: 100%;
	text-align: center;
	padding: .7rem;
	color: black;
	font-size: 12px;
}

.fl-chat-bottom i {
	color: #03a8a0;
	margin: 0 5px;
}

@media (min-width: 992px) {

	.fl-chat {
		left: initial;
		right: 1.5rem;
		width: 400px;
	}

}

/* the-end-of-fl-chat */



/* flash-simple-dropdown */

.fl-simple-dropdown {
	position: relative;
	z-index: 20;
}

.fl-simple-dropdown-list {
	position: absolute;
	top: 150%;
	left: 0;
	border-top: 1px solid #f17f50;
	width: 150px;
	visibility: hidden;
	opacity: 0;
	transition: top .3s, visibility .3s, opacity .3s;
}

.fl-simple-dropdown:hover .fl-simple-dropdown-list {
	visibility: visible;
	top: 100%;
	opacity: 1;
}

.fl-simple-dropdown-link {
	width: 100%;
	color: #666;
	display: block;
	padding: .7rem .9rem;
	background-color: white;
	font-size: 12px;
	transition: background-color .3s ease;
}

.fl-simple-dropdown-link:hover {
	background-color: #eeeeee;
}

.fl-simple-dropdown-icon {
	margin-left: 7px;
	transition: all .3s;
	font-size: 8px !important;
	display: inline-block;
	vertical-align: middle;
}

.fl-simple-dropdown:hover .fl-simple-dropdown-icon {
	transform: rotate(180deg);
}

/* the-end-of-flash-simple-dropdown*/



/* fl-growing-dropdown */

.fl-growing-dropdown {
	position: relative;
	border: 1px solid #e9e8e8;
	background-color: white;
	border-radius: 3px;
	max-width: 50px;
	max-height: 50px;
	transition: all 1s;
	overflow: hidden;
}

.fl-growing-dropdown.fl-show {
	max-width: 500px;
	max-height: 1000px; 
	overflow-y: auto;
}

.fl-growing-dropdown-fixed-to-left,
.fl-growing-dropdown-fixed-to-right {
	position: fixed;
	right: 1rem;
	top: 143px;
	z-index: 10;
}

.fl-growing-dropdown-fixed-to-right {
	left: 1rem;
	right: initial;
}

.fl-growing-dropdown-toggler {
	position: absolute;
	padding: 0;
	z-index: 18;
	top: 9px;
	left: 11px;
	color: #444;
	font-size: 30px;
	line-height: 30px !important;
	background-color: transparent;
	cursor: pointer;
}

.fl-growing-dropdown-fixed-to-left .fl-growing-dropdown-toggler {
	right: 11px;
	left: initial;
}

.fl-growing-dropdown.fl-show .fl-growing-dropdown-toggler {
	animation-name: none;
}

.fl-growing-dropdown > *:not(.fl-growing-dropdown-toggler) {
	opacity: 0;
	transition-delay: 0s;
}

.fl-growing-dropdown.fl-show > * {
	opacity: 1;
	transition: opacity .1s ease 1s;
}

.fl-growing-dropdown::-webkit-scrollbar {
	width: 10px;
}

.fl-growing-dropdown::-webkit-scrollbar-track {
	box-shadow: inset 0 0 5px grey; 
}

.fl-growing-dropdown::-webkit-scrollbar-thumb {
	background: #f17f50; 
}

.fl-growing-dropdown::-webkit-scrollbar-thumb:hover {
	background: #e67344; 
}

.fl-growing-dropdown-list {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
	align-content: flex-start;
	align-items: flex-start;
	width: 100%;
	padding: 1.5rem;
}

.fl-growing-dropdown-item {
	width: 80%;
}

.fl-growing-dropdown-item:not(:first-child) {
	margin-top: 1rem;
}

.fl-growing-dropdown-link {
	padding: .5rem;
	width: 100%;
	display: block;
	border-radius: .4rem;
	text-align: center;
	color: white;
	background-color: #6c757d;
	transition: color .3s, background-color .3s;
}

@media (hover: hover) {

	.fl-growing-dropdown-link:hover {
		background-color: #4e5357; 
	}

}

.fl-growing-dropdown-link:active {
	background-color: #4e5357; 
}

.fl-growing-dropdown-icon.fa-times {
	display: none;
}

.fl-growing-dropdown.fl-show .fl-growing-dropdown-icon.fa-gear {
	display: none;
}

.fl-growing-dropdown.fl-show .fl-growing-dropdown-icon.fa-times {
	display: inline-block;
}

@media (min-width: 992px) {

	.fl-growing-dropdown-fixed-to-left,
	.fl-growing-dropdown-fixed-to-right {
		z-index: 18;
	}

}

/* the-end-of-fl-growing-dropdown */



/* flash-change-containers */

.fl-change-containers {

}

.fl-change-containers-btn-list {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	align-items: flex-start;
	align-content: flex-start;
}

.fl-change-containers-btn {
	background-color: #f2f2f2;
	color: #444;
	font-weight: 700;
	border: 1px solid #ddd;
	width: 50%;
	white-space: normal;
	padding: .8rem 1rem;
	cursor: pointer;
	font-size: 16px;
}

.fl-change-containers-btn:not(:last-child,:nth-child(2)) {
	border-right: 0;
}

.fl-change-containers-btn.fl-active {
	background-color: white;
	border-bottom: 0;
}

.fl-change-containers-item {
	display: none;
}

.fl-change-containers-item.fl-show {
	display: block;
}

@media (min-width: 992px) {

	.fl-change-containers-btn {
		width: 25%;
	}

	.fl-change-containers-btn:nth-child(2) {
		border-right: 1px;
	}

}

/* the-end-of-flash-change-containers */



